In [1]:
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from sklearn.preprocessing import LabelEncoder

2024-10-05 14:07:30.781300: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-10-05 14:07:30.787723: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-10-05 14:07:30.812392: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-10-05 14:07:30.848797: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-10-05 14:07:30.859034: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-10-05 14:07:33.284899: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
df = pd.read_csv("market.csv",header='infer')

In [3]:
df.head()

,Unnamed: 0,Date,Crop,Market_Price,Production_Cost,Gross_Profit_Margin
0,0,2022-01-01,Cabbage,11.78,9.09,22.82
1,1,2022-02-01,Cabbage,11.20,8.80,21.45
2,2,2022-03-01,Cabbage,14.76,6.07,58.88
3,3,2022-04-01,Cabbage,21.01,3.39,83.88
4,4,2022-05-01,Cabbage,21.04,3.08,85.36

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [5]:
df.head()

         Date     Crop  Market_Price  Production_Cost  Gross_Profit_Margin
0  2022-01-01  Cabbage         11.78             9.09                22.82
1  2022-02-01  Cabbage         11.20             8.80                21.45
2  2022-03-01  Cabbage         14.76             6.07                58.88
3  2022-04-01  Cabbage         21.01             3.39                83.88
4  2022-05-01  Cabbage         21.04             3.08                85.36

In [6]:
label_encoder = LabelEncoder()

In [7]:
df['Crop_Encoded'] = label_encoder.fit_transform(df['Crop'])

In [10]:
df.head(5)

,Date,Crop,Market_Price,Production_Cost,Gross_Profit_Margin,Crop_Encoded
0,2022-01-01,Cabbage,11.78,9.09,22.82,23
1,2022-02-01,Cabbage,11.20,8.80,21.45,23
2,2022-03-01,Cabbage,14.76,6.07,58.88,23
3,2022-04-01,Cabbage,21.01,3.39,83.88,23
4,2022-05-01,Cabbage,21.04,3.08,85.36,23